<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>

<body class="container bg-1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav th:replace="fragments :: header"></nav>

<h2 th:text="${user.username.toUpperCase()}"></h2>



<!--    <h4 sec:authorize="isAuthenticated()"th:unless="${selfProfile =='false'}"><a th:href="@{profile/recommendations}">Click here to view movie recommendations!</a></h4>-->



<br>
<h3>Favorite Movies List</h3>

<table class="table">
    <thead>
    <tr>
        <th>Favorite Movie Name</th>
        <th th:unless="${selfProfile =='false'}">Delete Favorite Movie</th>
        <p th:if="${#lists.isEmpty(user.favoriteMovies)}">Favorite Movies List is empty</p>
    </tr>
    </thead>
    <tbody>
    <tr th:each="favoriteMovie : ${user.favoriteMovies}">

        <td style="max-width: 100px"><a th:href="@{'/search/movie-view/' + ${favoriteMovie.getApiID()}}"
                                        th:text="${favoriteMovie.name}"></a></td>
        <td th:unless="${selfProfile =='false'}">
            <form th:action="@{/movies/favorite-movie/{movieId}(movieId=${favoriteMovie.id})}" method="post">

                <input type="hidden" name="_method" value="delete">
                <button type="submit" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete this movie from favorite movies list?')">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<h3>To-Watch Movies List</h3>


<table class="table">
    <thead>
    <tr>
        <th>To-Watch Movie Name</th>
        <th th:unless="${selfProfile =='false'}">Delete To-Watch Movie</th>
        <p th:if="${#lists.isEmpty(user.toWatchMovies)}">To-Watch Movies List is empty</p>
    </tr>
    </thead>
    <tbody>
    <tr th:each="toWatchMovie : ${user.toWatchMovies}">

        <td style="max-width: 100px"><a th:href="@{'/search/movie-view/' + ${toWatchMovie.getApiID()}}"
                                        th:text="${toWatchMovie.name}"></a></td>
        <td th:unless="${selfProfile =='false'}">
            <form th:action="@{/movies/to-watch-movie/{movieId}(movieId=${toWatchMovie.id})}" method="post">

                <input type="hidden" name="_method" value="delete">
                <button type="submit" class="btn btn-danger btn-xs"  onclick="return confirm('Are you sure you want to delete this movie from to-watch movies list?')">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <h3>Recent Reviews</h3>

    <p th:if="${#lists.isEmpty(user.reviewsList)}">No movies reviewed yet</p>

    <table th:unless="${#lists.isEmpty(user.reviewsList)}" class="table">

<!--        <tr th:each="i : ${#numbers.sequence(user.reviewsList.size() - 1, 0, -1)}">-->
<!--        <td style="width:15%"><img class="img-poster" th:src="${user.reviewsList[i].movie.poster}" alt="poster"></td>-->

<!--        <td>-->
<!--            <h3> <a th:href="@{'search/movie-view/' + ${user.reviewsList[i].movie.getApiID()}}" style="font-weight: bold;" th:text="${user.reviewsList[i].movie.getTitle()}"></a></h3>-->
<!--            <span th:each="j:${#numbers.sequence(1, 5)}">-->
<!--                        <span th:if="${user.reviewsList[i].star_rating >=j }"  class="fa fa-star star-checked"></span>-->
<!--                        <span th:unless="${user.reviewsList[i].star_rating >=j }"  class="fa fa-star"></span>-->
<!--                    </span>-->

<!--            <p th:text="${user.reviewsList[i].review_text}"></p>-->

<!--            <p th:unless="${selfProfile =='false'}">-->

<!--            <form th:unless="${selfProfile =='false'}" th:action="@{/delete_review(reviewId=${user.reviewsList[i].id})}" method="post">-->
<!--                <button type="submit" class="btn btn-danger btn-xs"-->
<!--                        th:data-confirm-delete="|Are you sure you want to delete review for: ${user.reviewsList[i].movie.name}?|"-->
<!--                        onclick="return confirm(this.getAttribute('data-confirm-delete'))"-->
<!--                >Delete</button>-->

<!--                <a class="btn btn-success btn-xs" role="button" th:href="@{/review(movieId=${user.reviewsList[i].movie.id})}"-->
<!--                   th:data-confirm-update="|Are you sure you want to update review for: ${user.reviewsList[i].movie.name}?|"-->
<!--                   onclick="return confirm(this.getAttribute('data-confirm-update'))"-->
<!--                >Update</a>-->


<!--            </form>-->

<!--            </p>-->

<!--        </td>-->
<!--        </tr>-->
        <tr th:each="review : ${reviews}">
            <td style="width:15%"><img class="img-poster" th:src="${review.movie.poster}" alt="poster"></td>

            <td>
                <h3> <a th:href="@{'search/movie-view/' + ${review.movie.getApiID()}}" style="font-weight: bold;" th:text="${review.movie.getTitle()}"></a></h3>
                <span th:each="j:${#numbers.sequence(1, 5)}">
                        <span th:if="${review.star_rating >=j }"  class="fa fa-star star-checked"></span>
                        <span th:unless="${review.star_rating >=j }"  class="fa fa-star"></span>
                    </span>

                <p th:text="${review.review_text}"></p>

                <p th:unless="${selfProfile =='false'}">

                <form th:unless="${selfProfile =='false'}" th:action="@{/delete_review(reviewId=${review.id})}" method="post">
                    <button type="submit" class="btn btn-danger btn-xs"
                            th:data-confirm-delete="|Are you sure you want to delete review for: ${review.movie.name}?|"
                            onclick="return confirm(this.getAttribute('data-confirm-delete'))"
                    >Delete</button>

                    <a class="btn btn-success btn-xs" role="button" th:href="@{/review(movieId=${review.movie.id})}"
                       th:data-confirm-update="|Are you sure you want to update review for: ${review.movie.name}?|"
                       onclick="return confirm(this.getAttribute('data-confirm-update'))"
                    >Update</a>


                </form>

                </p>

            </td>
        </tr>





    </table>

</div>

</body>
</html>
