<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container bg-1">
<nav th:replace="fragments :: header"></nav>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<h1 th:text ="${title}"></h1>
<h3 th:text ="${year}"></h3>
<h3 th:text ="${'Director: ' + director}"></h3>
<img class="view-poster" th:src="${poster}" alt="poster">
<h3 th:text ="${plot}"></h3>

<hr />


<h4>
    <a th:href="'/movies/add-favorite-movie?movieId=' + ${movie.id}">
        <button class="btn btn-success" type="button">Add to Favorite Movies list</button>
    </a>
</h4>


<h4>
    <a th:href="'/movies/add-to-watch-movie?movieId=' + ${movie.id}">
        <button class="btn btn-success" type="button">Add to To-Watch Movies list</button>
    </a>
</h4>

<h4><a class="btn btn-success" role="button" th:href="@{/review(movieId=${movie.id})}">Add Review</a></h4>

<hr />
    <h3>Latest Reviews </h3>
<hr />

<p th:if="${#lists.isEmpty(movie.reviewsList)}">Be the first to review this movie</p>

<table>

<!--    <tr th:each="i : ${#numbers.sequence(movie.reviewsList.size() - 1, 0, -1)}">-->

<!--        <label style="font-weight: normal">Review by:  <a th:href="@{/searched_profile(userId=${movie.reviewsList[i].user.id})}" style="font-weight: bold;" th:text="${movie.reviewsList[i].user.username}"></a></label>-->

<!--        <span th:each="j:${#numbers.sequence(1, 5)}">-->
<!--                    <span th:if="${movie.reviewsList[i].star_rating >=j }"  class="fa fa-star star-checked"></span>-->
<!--                    <span th:unless="${movie.reviewsList[i].star_rating >=j }"  class="fa fa-star"></span>-->
<!--                </span>-->
<!--        <p th:text="${movie.reviewsList[i].review_text}"></p>-->
<!--        <hr class="hr-light"/>-->
<!--    </tr>-->

    <tr th:each="review : ${reviews}">

        <label style="font-weight: normal">Review by:  <a th:href="@{/searched_profile(userId=${review.user.id})}" style="font-weight: bold;" th:text="${review.user.username}"></a></label>

        <span th:each="j:${#numbers.sequence(1, 5)}">
                    <span th:if="${review.star_rating >=j }"  class="fa fa-star star-checked"></span>
                    <span th:unless="${review.star_rating >=j }"  class="fa fa-star"></span>
                </span>
        <p th:text="${review.review_text}"></p>
        <hr class="hr-light"/>
    </tr>
</table>
</body>
</html>